.card {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 10px ;
    .box-aluno{
      h4{
        border-radius: 10px 10px 0 0 ;
        color: #FFF;
      }
      im {

      }
    }


}

.card-corpo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    list-style: none;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    color: #FFF;
    border: none;
    border-radius: 10px;
    width: 95%;
    padding: 2px 5% 2px 5%;
}
