@use "src/config-css/variables";
@use "src/config-css/rem-calc";
@use "src/config-css/btn";
@use "src/config-css/reset";

html {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-color);

}

body {
  background-color: var(--primary-color);
}

main {
  max-width: rem-calc.rem-calc(600);
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: 420px) {
    max-width: rem-calc.rem-calc(350);
    font-size: rem-calc.rem-calc(14);
  }
}
